# In your .dockerignore file
.github/
.git/
node_modules/
*.yaml
*.yml
.gitignore
README.md
LICENSE
*.txt
configmap.yaml
deployment.yaml
ingress.yaml
postgres-*
pv.yaml
pvc.yaml
resourcequota.yaml
secret.*
test-pod.yaml